/*aside {
    margin-left: 83vw;
    border: 2px white solid;
    border-radius: 5px;
    width: 200px;
    height: 80px;
    padding: 3px;
    transition: transform .5s linear .25s;
}

p {
    font-size: 12px;
} */